@font-face {
    font-family: 'Ubuntu-Light';
    src: url('~@/assets/fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu-Regular';
    src: url('~@/assets/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Hind-Vadodara-Light';
    src: url('~@/assets/fonts/Hind-Vadodara/HindVadodara-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Hind-Vadodara-Regular';
    src: url('~@/assets/fonts/Hind-Vadodara/HindVadodara-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}