// colors

$white: #ffffff;
$black: #000000;
$grey: #4a4a4a;
$grey-light: #757575;
$grey-zero: #637274;
$grey-disabled: #f8fafd;
$grey-border: #eaeaea;
$green-selected: #2a8289;
$blue-button: #1279cf;

// fonts
$ubuntu-light: 'Ubuntu-Light', sans-serif;
$ubuntu-regular: 'Ubuntu-Regular', sans-serif;
$hind-vadodara-light: 'Hind-Vadodara-Light', sans-serif;
$hind-vadodara-regular: 'Hind-Vadodara-Regular', sans-serif;
$header-font-size: 24px;
$header-line-height: 28px;
$description-font-size: 16px;
$description-line-height: 20px;
$item-name-font-size: 18px;
$item-name-line-height: 20px;